.todo-list {
  padding-top: 10px;
}
.todo {
  min-height: 130px;
}
.todo__title,
.todo__description {
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.todo__title {
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
}

a.add-btton {
  display:inline-block;
  font:normal normal 300 1.3em 'Open Sans';
  text-decoration:none;
  color:rgba(28, 190, 131, 1);
  brackground-color:transparent;
  border:1px solid rgba(28, 190, 131, 1);
  border-radius:100px;
  padding: .3em 1.2em;
  margin:5px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
a.add-btton:hover {
  color:rgba(255, 255, 255, 1);
  background-color:rgba(28, 190, 131, 1);
  background-position: -100% 100%;
}

